* {
    background-color: #ffe9ec;
}

h1 {
    text-align: center;
    font-family: 'Parisienne', cursive;
    font-size: 46px;
}

p {
    text-align: center;
    font-family: Georgia;
    font-weight: bold;
    font-size: 20px;
}

form {
    color: gray;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 26px;
    font-weight: bold;
    padding: 30px 30px;
    border: 2px solid white;
    border-radius: 25px;
    margin: 0px 470px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: auto;
}

#name, #email, #number, #dropdown, #gift {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: gray;
    background-color: white;
    outline: none;
    padding: 4px;
    border: 2px solid white;
}

#submit {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    border: 2px solid white;
    text-decoration: none;
    background-color: white;
    padding: 14px;
    color: gray;
    font-family: Georgia;
    font-weight: bold;
    font-size: 20px;
}

#submit:hover {
    background-color: #DCDCDC;
    color: white;
    text-decoration: none;
    border: 2px solid #DCDCDC;
}


/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 170px;
      -webkit-appearance: none;
      background-color: #DCDCDC;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 20px;
      -webkit-appearance: none;
      color: #ff9eb5;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 20px;
      background: white;
      box-shadow: -80px 0 0 80px #ff9eb5;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #ff9eb5; 
}
input[type="range"]::-moz-range-track {  
  background-color: #DCDCDC;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #ff9eb5; 
}
input[type="range"]::-ms-fill-upper {  
  background-color: #DCDCDC;
}

@media (max-width: 800px) {
  form {
    font-size: 14px;
    margin: auto;
  }
}

@media (max-width: 550px) {
  form {
    font-size: 14px;
    margin: auto;
  }

  h1 {
    font-size: 28px;
  }
}